In [160]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


df = pd.read_csv('../datasets/combined_complete_data_only.csv')
df_kepadatan_penduduk = pd.read_csv('../datasets/kepadatan_penduduk.csv')
df_restaurant = pd.read_csv('../datasets/restaurant_dataset.csv')

df_restaurant.drop(columns=['Unnamed: 0'], inplace=True)

df.info()

df = df.merge(df_kepadatan_penduduk, how='left')

# df = df[df['type'] != 'restaurant']

df.drop(columns=['latitude','longitude','tahun','source_file'], inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5439 entries, 0 to 5438
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nama         5439 non-null   object
 1   alamat       5439 non-null   object
 2   kecamatan    5439 non-null   object
 3   type         5439 non-null   object
 4   latitude     323 non-null    float64
 5   longitude    323 non-null    float64
 6   tahun        5439 non-null   int64
 7   source_file  5439 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 340.1+ KB

In [161]:
df_restaurant = df_restaurant[['nama', 'alamat', 'kecamatan', 'google_rating', 'type']]
df_restaurant = df_restaurant.rename(columns={'google_rating': 'rating'})

In [162]:
df = df.merge(df_restaurant, how='left')

df.info()
df.to_csv('../temp/test.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5439 entries, 0 to 5438
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nama             5439 non-null   object
 1   alamat           5439 non-null   object
 2   kecamatan        5439 non-null   object
 3   type             5439 non-null   object
 4   Jumlah Penduduk  532 non-null    float64
 5   Luas Wilayah     532 non-null    float64
 6   Kepadatan Jiwa   532 non-null    float64
 7   rating           0 non-null      float64
dtypes: float64(4), object(4)
memory usage: 340.1+ KB