In [97]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


df = pd.read_csv('../datasets/combined_complete_data_only.csv')
df_kepadatan_penduduk = pd.read_csv('../datasets/kepadatan_penduduk.csv')
df_restaurant = pd.read_csv('../datasets/restaurant_dataset.csv')

df_restaurant.drop(columns=['Unnamed: 0'], inplace=True)

df = df.merge(df_kepadatan_penduduk, on='kecamatan', how='left')

df = df[df['type'] != 'restaurant']

df.drop(columns=['latitude','longitude','tahun','source_file'], inplace=True)

In [ ]:
df_restaurant = df_restaurant[['nama', 'alamat', 'kecamatan', 'google_rating', 'type']]
df_restaurant['type'] = 'restaurant'
df_restaurant = df_restaurant.rename(columns={'google_rating': 'rating'})

,nama,alamat,kecamatan,rating,type
0,HOLLAND BAKERY UJUNGBERUNG,JL. A.H. NASUTION NO.63,ujung berung,4.6,restaurant
1,TRADITIONAL DELICIOUS AND HEALTHY FOOD,SUKAGALIH ROAD 200A,ujung berung,NaN,restaurant
2,SAMBALADO TASTE(DELIVERY MAKANAN HOT(,3PR2+3XX,ujung berung,5.0,restaurant
3,EMADO'S SHAWARMA UJUNGBERUNG,JL. A.H. NASUTION NO.111,ujung berung,4.4,restaurant
4,SWEET HEART II,LLRE MARTADINATA ST NO.140,sumur bandung,4.6,restaurant

In [102]:
df = df.merge(df_restaurant, how='left')

df_get_restaurant = df[df['type'] == 'restaurant']

In [103]:

df_get_restaurant.tail()

Empty DataFrame
Columns: [nama, alamat, kecamatan, type, Jumlah Penduduk, Luas Wilayah, Kepadatan Jiwa, rating]
Index: []