In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('../datasets/taman_kota_bandung.csv')

drop_cols = ['id','nama_provinsi','kode_provinsi','bps_kode_kabupaten_kota','bps_nama_kabupaten_kota','bps_kode_kecamatan','kemendagri_kode_kecamatan','satuan','lokasi','tahun','kemendagri_nama_kecamatan']

df = df.drop(columns=drop_cols)

df = df.rename(columns={'bps_nama_kecamatan': 'kecamatan'})

df.info()

df.head()

df.to_csv('../datasets/cleaned_taman_kota_bandung.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   kecamatan   999 non-null    object
 1   nama_taman  999 non-null    object
 2   luas        999 non-null    object
dtypes: object(3)
memory usage: 23.5+ KB